html, body, div {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd;
}
h2 i {
  color: #048;
}
h2 {
  text-align: center;
  color: #444;
}
label {
  font-weight: normal;
}
div.content {
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 640px;
  margin: 20px auto;
  background-color: white;
}
div.formField {
  margin: 10px 0;
}
.prompt {
  color: #048;
  font-weight: 540;
  font-size: 14px;
}
.small {
  font-weight: normal;
  font-size: 12px;
}
.inputs {
  margin: 4px 0;
}
button, input, select {
  font-size: 16px;
}
select {
  margin-right: 2px;
  padding-left: 5px;
  width: 250px;
}
.imageContainer {
  height: 240px;
  background: #eee;
  border: solid 1px #ddd;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
img.preview {
  height: 240px;
  object-position: 50% 50%;
  object-fit: cover;
}
